# Product Service Configuration
PORT=5009
MONGO_URL=mongodb://localhost:27017/ecommerce_product
SECRET_TOKEN=ecommerce_jwt_secret_dev_key
RABBITMQ_URL=amqp://guest:guest@localhost:5672
EXCHANGE_NAME=ecommerce_events
REDIS_URL=redis://localhost:6379
